<div class="profile-company-section">
    <div class="profile-pic">
      <img src="/img/company.jpg" alt="profile" />
    </div>
    <div class="profile-wrapper">
      <div class="profile-company-name">
        <div class="subjudul">
          <h2>Edit <span>Proyek Perusahaan</span></h2>
        </div>
        <h1>Implementasi Manajemen Pelanggan</h1>
      </div>
      <br />
      <br />
      <div class="profil-akun-perusahaan" id="profil-akun-perusahaan">
        <form action="">
        <div class="profil-akun-perusahaan-menu">
          <div class="profil-akun-perusahaan-option">
            <h3>Nama Proyek</h3>
            <input type="text" name="" id="nama_proyek" value="Implementasi Manajemen Pelanggan" placeholder="Masukan Nama Proyek Perusahaan Anda ...">
          </div>
          <div class="profil-akun-perusahaan-option">
            <h3>Jumlah Karyawan</h3>
            <input type="number" name="" id="jumlah_karyawan" value="20" placeholder="Masukan Jumlah Karyawan">
          </div>
          <div class="profil-akun-perusahaan-option" id="detail-proyek">
            <h3>Status Proyek</h3>
            <select name="" id="status-proyek">
              <option value="Aktif">Aktif</option>
              <option value="Tidak Aktif">Tidak Aktif</option>
            </select>
          </div>
        </div>
        <br />
        <br />
      <div class="profil-akun-perusahaan-alamat">
          <h3>Lokasi Proyek</h3>
            <input type="text" name="" id="" value="Jalan Internasional Harapan, Kota Jakarta" placeholder="Masukan Lokasi Proyek Perusahaan Anda ...">
      </div>
      <div class="profil-akun-perusahaan-deskripsi">
          <h3>Deskripsi Proyek</h3>
            <textarea name="" id="" cols="30" rows="10" placeholder="Masukan Deskripsi Proyek Perusahaan Anda ...">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit nihil earum placeat vel animi at reprehenderit quia eligendi sit repellendus?</textarea>
      </div>
      <div class="button-detailproyek">
        <div class="button-edit-detail">
          <a href="#" class="btn btn-edit">Konfirmasi</a>
        </div>
        <div class="button-kembali-detail">
          <a href="/detailproyek_client" class="btn btn-kembali">Kembali</a>
        </div>
      </div>
    </form>
      </div>
      </div>
    </div>
  </div>
  