<div class="sukses_section">
  <div class="sukses_wrapper">
    <div class="sukses_title">
      <h2>Pemesanan Berhasil</h2>
      <div class="sukses_desc">
        <p>Pemesanan pelayanan telah berhasil dilakukan, mohon tunggu balasan dari petugas kami.</p>
      </div>
    </div>
    <div class="sukses_logo">
      <i class="fa-solid fa-check-to-slot"></i>
    </div>
    <div class="sukses_menu">
      <a href="/profile_client">
        <i class="fa-solid fa-tachograph-digital"></i>
        <p>Histori Pelayanan</p></a
      >
      <a href="/" class="sukses_button">
        <i class="fa-solid fa-house-chimney"></i>
        <p>Halaman Utama</p>
      </a>
    </div>
  </div>
</div>
