<div class="tentang-kami-section">
  <div class="tentang-kami-section-top">
    <div class="tentang-kami-section-titles">
      <div class="tentang-kami-title">
        <h1>Pearl<span>Medic</span></h1>
      </div>
      <div class="tentang-kami-subtitle">
        <h3>Where Wellness Meet Our Care</h3>
      </div>
      <div class="tentang-kami-little-desc">
        <p>Instansi kami merupakan perusahaan penyedia layanan medis yang disesuaikan dengan kebutuhan klien kami.</p>
      </div>
    </div>
    <div class="tentang-kami-section-pic">
      <div class="tentang-kami-section-pic-left">
        <img src="/img/dokter-cantik2.jpg" alt="PearlMedic" />
      </div>
      <div class="tentang-kami-section-pic-right">
        <img src="/img/PearlMedic_bgfix.jpeg" alt="PearlMedic" />
        <img src="/img/mainpage-03.jpg" alt="PearlMedic" />
      </div>
    </div>
  </div>
  <div class="tentang-kami-responsive" id="none">
    <div class="tentang-kami-title">
      <h1>Pearl<span>Medic</span></h1>
    </div>
    <div class="tentang-kami-subtitle">
      <h3>Where Wellness Meet Our Care</h3>
    </div>
    <div class="tentang-kami-little-desc">
      <p>Instansi kami merupakan perusahaan penyedia layanan medis yang disesuaikan dengan kebutuhan klien kami.</p>
    </div>
  </div>
</div>
<div class="tentang-kami-main-section">
  <div class="tentang-kami-main-wrapper">
    <div class="tentang-kami-main-sejarah">
      <div class="tentang-kami-main-sejarah-img">
        <img src="/img/PearlMedic_bgfix.jpeg" alt="" />
      </div>
      <div class="tentang-kami-main-sejarah-all">
        <div class="tentang-kami-main-sejarah-title">
          <h2><span> Tentang</span> Kami</h2>
          <h4>Didirikan Oleh Dr. Agung Triyatno, 2011</h4>
        </div>
        <div class="tentang-kami-main-sejarah-desc">
          <p>Pearl Medic didirikan pada bulan Juni 2011 dengan dr. Agung Triyatno sebagai pelopor utamanya, seorang Dokter Indonesia yang memiliki pengalaman besar bekerja dengan Freeport dan Pondok Indah Hospital Group, serta Dra. Siti Purwari yang memiliki pengalaman panjang bekerja dengan Pondok Indah Hospital Group dan sebagai salah satu pendiri Klinik Medika Plaza.</p>
          <p>Pearl Medic menyediakan layanan medis korporat dengan "Human Touch" sebagai Budaya Perusahaan, serta integritas dan profesionalisme sebagai nilai-nilainya, untuk menjawab kebutuhan klien-klien mereka. Dengan terus mendengarkan dan memahami kebutuhan klien, Pearl Medic mampu memberikan solusi-solusi yang fleksibel dan inovatif melalui program-program unggulan dalam Layanan Medis Komprehensif.</p>
        </div>
        <div class="tentang-kami-main-value-culture">
          <div class="core-value">
            <h3>Nilai Inti Perusahaan</h3>
            <p><span>Human Touch : Listening and Understanding</span>, Layanan medis kami didasarkan pada kemampuan kami untuk memenuhi kebutuhan klien kami dengan mendengarkan mereka secara terus-menerus.</p>
          </div>
          <div class="corporate_culture">
            <h3>Kultur Perusahaan</h3>
            <p><span>Profesionalisme</span>, Kami menyediakan standar tertinggi pada tenaga professional dan teknis.</p>
            <p><span>Integritas</span>, Kami memberikan komitmen kami dengan bertanggung jawab dan prinsip-prinsip yang harus kami penuhi untuk mendapatkan kepercayaan pelanggan kami.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tentang-kami-visi-misi-wrapper">
    <div class="tentang-kami-visi-misi-titles">
      <h2>Visi <span class="and">&</span><span>Misi</span></h2>
    </div>
    <div class="tentang-kami-visi-misi-wrap">
      <div class="tentang-kami-visi-misi-wraps">
        <div class="visi-wrap">
          <div class="visi-title">
            <h3>Visi</h3>
            <p>Menjadi penyedia layanan medis terbaik yang berfokus pada keberlanjutan bagi para pemangku kepentingan, pemegang saham, karyawan, dan pelanggan.</p>
          </div>
          <div class="visi-img">
            <img src="/img/darurat.jpg" alt="Visi Misi" />
          </div>
        </div>
        <div class="misi-wrap">
          <div class="misi-title">
            <h3>Misi</h3>
            <p>Memberikan layanan medis dengan kualitas tertinggi melalui pelayanan yang berorientasi pada pelanggan dan layanan medis yang disesuaikan. Kami akan memfokuskan diri pada pelanggan kami dengan mengembangkan layanan baru yang berorientasi pada kualitas dan nilai tinggi.</p>
          </div>
          <div class="misi-img">
            <img src="/img/rs-mitra.jpg" alt="Visi Misi" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="management_wrapper">
    <div class="management_titles">
      <h2>Direktur & <span> Manajemen</span></h2>
    </div>
    <div class="management_boards">
      <div class="management_board">
        <div class="management_pic">
          <img src="/img/users.jpg" alt="Direktur" />
        </div>
        <div class="management_name">
          <h3>Alzuardi Hafidh</h3>
          <p>Finance & HR Director</p>
        </div>
      </div>
      <div class="management_board">
        <div class="management_pic">
          <img src="/img/users.jpg" alt="Direktur" />
        </div>
        <div class="management_name">
          <h3>Hiroshi Arifudin Patiroi</h3>
          <p>President Director</p>
        </div>
      </div>
      <div class="management_board">
        <div class="management_pic">
          <img src="/img/users.jpg" alt="Direktur" />
        </div>
        <div class="management_name">
          <h3>dr. Arief Novianto, MMK, Sp. OK</h3>
          <p>Operation Director</p>
        </div>
      </div>
    </div>
  </div>
  <div class="tentang-kami-keunggulan-wrapper">
    <div class="tentang_kami_unggulan_titles2" id="none">
      <h3>Kenapa Memilih Pearl <span>Medic </span>?</h3>
      <p>Pearl <span>Medic</span> menawarkan solusi fleksibel dan inovatif alam layanan medis komprehensif, serta didasarkan pada kemampuan untuk menyesuaikan pelayanan dan kebutuhan client</p>
    </div>
    <div class="tentang_kami_unggulan_all">
      <div class="tentang_kami_unggulan_menu">
        <i class="fa-solid fa-house-medical-flag"></i>
        <h3>Medical On Site</h3>
        <p>Layanan Medis Komprehensif di lokasi yang dapat diandalkan</p>
      </div>
      <div class="tentang_kami_unggulan_menu">
        <i class="fa-solid fa-notes-medical"></i>
        <h3>Managed Care</h3>
        <p>Pelayanan yang dapat diandalkan seperti medical check up, vaksinasi, dan darurat</p>
      </div>
      <div class="tentang_kami_unggulan_menu">
        <i class="fa-solid fa-helicopter"></i>
        <h3>24/7 Alarm Center & Evakuasi Medis</h3>
        <p>Memiliki respon yang dapat selama 24 jam</p>
      </div>
      <div class="tentang_kami_unggulan_menu">
        <i class="fa-solid fa-person-breastfeeding"></i>
        <h3>Training</h3>
        <p>Training yang selalu dilakukan bagi tim medis kami</p>
      </div>
      <div class="tentang_kami_unggulan_menu">
        <i class="fa-solid fa-hand-holding-medical"></i>
        <h3>24/7 Pharmacy & Clinic</h3>
        <p>Clinic yang buka sepanjang waktu untuk kenyamanan anda</p>
      </div>
      <div class="tentang_kami_unggulan_menu">
        <i class="fa-solid fa-pump-medical"></i>
        <h3>Procurement</h3>
        <p>Solusi pengadaan untuk kebutuhan medis apa pun.</p>
      </div>
    </div>
    <div class="tentang_kami_unggulan_titles">
      <h3>Kenapa Memilih Pearl <span>Medic </span>?</h3>
      <p>Pearl <span>Medic</span> menawarkan solusi fleksibel dan inovatif alam layanan medis komprehensif, serta didasarkan pada kemampuan untuk menyesuaikan pelayanan dan kebutuhan client</p>
    </div>
  </div>
</div>
