<footer>
  <div class="footer-main">
    <div class="footer-responsive-web-logo">
      <div class="footer-web-logo2">
        <img src="/img/pearlmedic.png" alt="logo" />
      </div>
      <div class="footer-web-tagline2">
        <h4>Where wellness meet our care</h4>
      </div>
      <div class="footer-wrapper2">
        <div class="footer-option">
          <div class="footer-web-title">
            <h4>Menu</h4>
          </div>
          <div class="footer-web-option">
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/tentangkami_client">Tentang Kami</a>
              </li>
              <!-- <li>
                <a href="#">Staff Dokter</a>
              </li> -->
              <li>
                <a href="/LayananApotik_client">Apotek</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-option">
          <div class="footer-web-title">
            <h4>Layanan</h4>
          </div>
          <div class="footer-web-option">
            <ul>
              <li>
                <a href="/LayananMedical_client">Medical Check Up</a>
              </li>
              <li>
                <a href="/LayananVaksin_client">Vaksinasi</a>
              </li>
              <li>
                <a href="/LayananDarurat_client">Pelayanan Darurat</a>
              </li>
              <li>
                <a href="/LayananApotik_client">Apotek</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-option">
          <div class="footer-web-title">
            <h4>Kontak Kami</h4>
          </div>
          <div class="footer-web-option">
            <ul>
              <li>
                <a href="#">medicalservice@gmail.com</a>
              </li>
              <li>
                <a href="#">+ 62-854249-1824</a>
              </li>
              <li>
                <a href="#">Signature Park Tower B, GF No. K03 Jakarta</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-wrapper">
      <div class="footer-option">
        <div class="footer-web-logo">
          <img src="/img/pearlmedic.png" alt="logo" />
        </div>
        <div class="footer-web-tagline">
          <h4>Where wellness meet our care</h4>
        </div>
      </div>
      <div class="footer-option">
        <div class="footer-web-title">
          <h4>Menu</h4>
        </div>
        <div class="footer-web-option">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/tentangkami_client">Tentang Kami</a>
            </li>
            <!-- <li>
              <a href="/LayananApotik_client">Apotek</a>
            </li> -->
          </ul>
        </div>
      </div>
      <div class="footer-option">
        <div class="footer-web-title">
          <h4>Layanan</h4>
        </div>
        <div class="footer-web-option">
          <ul>
            <li>
              <a href="/LayananMedical_client">Medical Check Up</a>
            </li>
            <li>
              <a href="/LayananVaksin_client">Vaksinasi</a>
            </li>
            <li>
              <a href="/LayananDarurat_client">Pelayanan Darurat</a>
            </li>
            <li>
              <a href="/LayananApotik_client">Apotek</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-option">
        <div class="footer-web-title">
          <h4>Kontak Kami</h4>
        </div>
        <div class="footer-web-option">
          <ul>
            <li>
              <a href="#">medicalservice@gmail.com</a>
            </li>
            <li>
              <a href="#">+ 62-854249-1824</a>
            </li>
            <li>
              <a href="#">Signature Park Tower B, GF No. K03 Jakarta</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <h4>© 2024 Pearl Medic. All rights reserved. Designed & Developed by Rizki Hanif.</h4>
  </div>
</footer>
