<footer>
  <div class="footer_wrapper">
    <div class="footer1">
      <div class="footer1_logo">
        <img src="/img/pearlmedic.png" alt="PearlMedic Logo" />
      </div>
      <div class="footer1_motto">
        <h3>Where Wellness Meet Our Care</h3>
      </div>
    </div>
    <div class="footer2">
      <div class="footer2_title">
        <h3>Kontak Kami</h3>
      </div>
      <div class="footer2_menu">
        <ul>
          <li><i class="fa-solid fa-envelope"></i>medicalservice@gmail.com</li>
          <li><i class="fa-solid fa-phone"></i>+ 62 - 854249 - 1824</li>
          <li><i class="fa-solid fa-location-dot"></i>Signature Park Tower B, GF No. K03 Jakarta</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
