<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="/img/pearlmedic.png" />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/admin_nav.css" />
    <link rel="stylesheet" href="/css/PelayananGeneral_admin.css" />
    <link rel="stylesheet" href="/css/Pelayanan_Kadmin.css" />
    <link rel="stylesheet" href="/css/detailpesanan_admin.css" />
    <link rel="stylesheet" href="/css/obatvaksin_admin.css" />
    <link rel="stylesheet" href="/css/EditProfilP_admin.css" />
    <link rel="stylesheet" href="/css/RS_admin.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- End Font Awesome -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('Kadmin_nav') %>
    <div class="container"><%- body %></div>
  </body>
</html>
